.headline {
    text-align: center;
    color: #e47911;
}
.paragraph {
    text-align: center;
    border: 2px solid gray;
    padding: 10px 0;
}

#location {
    font-weight: bold;
    color: chocolate;
}

#main-content > p {
    font-weight: bold;
    font-style: italic;
}

#main-content ul {
    list-style-type: lower-roman;
}

#main-content ul > li {
    color: darkviolet;
}
#main-content ul > li:first-child a {
    text-decoration: none;
}